@import "variable.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

[data-component="slideshow"] .slide {
	display: none;
  text-align: center;
}

[data-component="slideshow"] .slide.active {
	display: block;
}


