#navbar {
    overflow: hidden;
    background-color: black;
    z-index: 200;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}